* {
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: gray;
    justify-content: space-between;
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
}

.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.main-menu a {
    color: azure;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.main-menu a:hover {
    background-color: dimgrey;
}

.logotipo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: azure;
}

.main-container {
    margin: auto;
    margin-top: 90px;
    width: 90vw;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: aquamarine;
    width: 100%;
    height: 5vh;
    padding: 5px;
}

.footer p {
    padding: 8px;
}